*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  min-height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  /*padding-top: 80px;*/
  /*for fixed header*/
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper{
  margin: 0 auto;
  max-width: 990px;
  position: relative;
  z-index: 2;
  padding: 0 10px;
}

.wrapper_full-width{
  max-width: none;
}

[class*="column"]{
  padding: 0 10px;
  width: 100%;
}

.row{
  margin: 0 -10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

.m-b-25{
  margin-bottom: 25px;
}
.m-t-25{
  margin-top: 25px;
}

.green_bg{
  background: #44b75a;
}

.orange_bg{
  background: #fec60d;
}

/*_-_-_-_*/

.header{
  background: #fff;
}
.header_fixed{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
}


/*header__top-line*/

.header__top-line{
  background: #37a14c;
}

.header__top-line .wrapper{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.header__middle-line .row{
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.header__top-line span,
.soc{
  width: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header__top-line span{
  color: #fff;
}

.soc a{
  padding: 0 2px;
}

/*header__middle-line*/

.header__middle-line{
  padding: 12px 0;
  /*margin: 0 60px;*/
}

.contact__title,
.contact__phone{
  color: #0F680E;
  font-size: 18px;
  font-family: sans-serif;
}

.contact__title,
.contact__phone-list{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.contact__phone{
  text-decoration: none;
  display: block;
}

.contact__title{
  min-width: 85px;
}

.contact__title_s{
  color: #000;
}

.skype{
  margin-top: 10px;
}

.skype__login{
  text-decoration: none;
  position: relative;
  margin-left: 40px;
  font-style: italic;
}

.skype__login::before{
  content: '';
  position: absolute;
  top: 0;
  left: -29px;
  width: 19px;
  height: 19px;
  background: url(../img/skype.png);
}

.button{
  background: #fec90c;
  color: #fff;
  text-align: center;
  width: 136px;
  padding: 9px 0;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  margin: 10px 0;
  box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.35);
}

.main_nav{
  background: #369e49;
}

.main_nav ul{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -10px;
}

.main_nav ul li{
  padding: 13px 35px;
  /*border-left: 1px solid #247634;*/
  /*border-right: 1px solid #57e974;*/
}

.main_nav ul li.active{
  background: #3ecb5a;
}

.main_nav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  /*border-right: 1px solid #247634;*/
  /*border-left: 1px solid #57e974;*/
}

.post{
  margin-top: 60px;
}

.post__top-line{
  min-height: 90px;
  font-size: 14px;
  line-height: auto;
}

.footer{
  background: #333;
  color: #fff;
  margin-top: auto;
}

.similar-service{
  margin: 10px 5px;
}

.row_similar-service{
  justify-content: center;
}

/*Media*/

@media (min-width: 320px){
  .header_column{
    max-width: 100%;
    text-align: center;
  }

  .button{
    margin: 10px auto;
  } 

  .column-sidebar{
    display: none;
  } 
}

@media (min-width: 560px){
  /*phablet*/
  .header_column_contacts{
    text-align: left;
  }

  .header__middle-line .row{
    justify-content: center;
  }

  .header_column{
    max-width: 50%;
  }
  .column-phablet-1-2{
    max-width: 50%;
  }
  .column-1-3{
    max-width: 33.33%;
  }


}

@media (min-width: 768px){
  .column-sidebar{
    display: block;
  }
  .header_column{
    max-width: 33.33%;
  }
  .header_column_logo-2{
    max-width: 100%;
  }
  .column-1-4{
    max-width: 25%;
  }  

  .column-3-4{
    max-width: 75%;
  }
}

@media (min-width: 1085px){
  /*laptop*/
  .header_column_logo-1{
    max-width: 18%;
  }
  .header_column_contacts{
    max-width: 28%;
  }
  .header_column_buttons{
    max-width: 17%;
  }
  .header_column_logo-2{
    max-width: 37%;
  }

  .column-laptop-1-3{
    max-width: 33.33%;
  }

  .main-nav__opener{
    display: none;
  }

  .main-nav ul{
    position: static;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    margin: 12px 0;
  }

  .row_similar-service{
    justify-content: space-between;
  }
}

@media (min-width: 1240px){

  /*desktop*/


}

@media (min-width: 1640px){
  /*extra-large*/
}




