*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*padding-top: 80px;*/
  /*for fixed header*/
  height: 100%;
  font-size: 16px;
  font-family: 'Arial';
}

img{
  max-width: 100%;
}
.page{
  overflow-y: scroll;
  flex: 1 auto;
}
.wrapper{
  margin: 0 auto;
  max-width: 990px;
  position: relative;
  z-index: 2;
  padding: 0 10px;
}

[class*="column-"]{
  padding: 0 10px;
  width: 100%;
}

.row{
  margin: 0 -10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
/*----*/
.wrapper_full-width{
  max-width: none;
}
.header{
  background: #fff;
}
.header_fixed{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
}
.footer{
  background: #333;
  color: #fff;
  margin-top: auto;
}

/*header__top-line*/

.header__top-line{
  background: #37a14c;
}
.header__middle-line .row,
.header__top-line .row{
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.column-header__top-line_text,
.column-soc_and_flag{
  width: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}

.soc-and-flag a{
  padding: 0 3px;
}

.soc-and-flag a img{
  max-width: 100%;
}

/*header__middle-line*/

.header__middle-line{
  padding: 12px 0;
  /*margin: 0 60px;*/
}

.contact__title,
.contact__phone{
  color: #0F680E;
  font-size: 18px;
  font-family: sans-serif;
}

.contact__title,
.contact__phone-list{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.contact__phone{
  text-decoration: none;
  display: block;
}

.contact__title{
  min-width: 85px;
}

.contact__title_s{
  color: #000;
}

.skype{
  margin-top: 10px;
}

.skype__login{
  text-decoration: none;
  position: relative;
  margin-left: 40px;
  font-style: italic;
}

.skype__login::before{
  content: '';
  position: absolute;
  top: 0;
  left: -29px;
  width: 19px;
  height: 19px;
  background: url(../img/skype.png);
}

.header__buttons{

}

.btn-choose-server,
.btn-random{
  background: #fec90c;
  color: #fff;
  text-align: center;
  width: 136px;
  padding: 9px 0;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  margin: 10px 0;
  box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.35);
}

@media (min-width: 320px){
  .column-header__logo-1,
  .column-header__contacts,
  .column-header__buttons,
  .column-header__logo-2{
    max-width: 100%;
    text-align: center;
  }

  .btn-choose-server, .btn-random{
    margin: 10px auto;
  }  
}


@media (min-width: 560px){
  .header__middle-line .row{
    justify-content: center;
  }
  .column-header__logo-1{
    max-width: 40%;
  }  
  .column-header__contacts{
    max-width: 40%;
  }  
  .column-header__buttons{
    max-width: 40%;
  }
  .column-header__logo-2{
    max-width: 40%;
  }
}

@media (min-width: 960px){
  .column-header__logo-1{
    max-width: 18%;
  }  
  .column-header__contacts{
    max-width: 28%;
  }  
  .column-header__buttons{
    max-width: 16%;
  }
  .column-header__logo-2{
    max-width: 38%;
  }
}



